{% extends "base.html" %}
{% block content %}
    {% if scores != {} %}
<form action="{{event.apply_method_prefix("vote")}}" method="POST">
    {{ optionform.csrf_token }}
    <table class="table">
        <thead>
            <tr>
                <th>Votes</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
    {% for item in optionform.choice %}
    <tr>
        <td>{{ scores[item.label] }}</td>
        <td>{{item}} {{ item.label }}</td>
    </tr>
    {% endfor %}
        </tbody>
    </table>
    <button type="submit">Submit choice</button>
</form>
    {% endif %}
<form action="{{event.apply_method_prefix("add")}}" method="POST">
    {{ suggestionform.csrf_token }}
    {{ suggestionform.suggestion(placeholder="nominate a location") }}
    <button type="submit">Submit choice</button>
</form>
{% endblock %}
