{% extends "base.html" %}
{% block content %}
<h1>Group Name: {{ group.name }}</h1>
<h2>Events:</h2>
<div class="dropdown theme-dropdown clearfix">   
    <!-- http://getbootstrap.com/components/#list-group -->
    <ul class="list-group">
        {% for e in group.events %}
            <li class="list-group-item"><a href="/event/{{ e.id }}">{{ e.name }}</a></li>
        {% endfor %}
    </ul>
</div>
<form action="/addevent/{{group.id}}" method="POST">
    {{ form.csrf_token }}
    {{ form.eventname(size=20,placeholder="Name of new event") }}
    <button type="submit">Add</button>
</form>
<hr />
<h2>Members:</h2>
<div class="dropdown theme-dropdown clearfix">   
    <!-- http://getbootstrap.com/components/#list-group -->
    <ul class="list-group">
        {% for m in group.memberships %}
            <li class="list-group-item"><a href="#">{{ m.user.username }}</a></li>
        {% endfor %}
    </ul>
</div>
<form action="/adduser/{{group.id}}" method="POST">
    {{ form2.csrf_token }}
    {{ form2.username(size=20,placeholder="User to invite") }}
    <button type="submit">Add</button>
{% endblock %}
