<!--https://getbootstrap.com/examples/theme/#-->

{% extends "base.html" %}
{% block content %}
<h1>Your Groups</h1>
<div class="dropdown theme-dropdown clearfix">   
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {% for m in current_user.memberships %}
        <li><a href="/group/{{m.group.id}}">{{ m.group.name }}</a></li>
        {% endfor %}
    </ul>
</div>

<form action="/addgroup" method="POST">
    {{ form.csrf_token }}
    {{ form.groupname(size=20,placeholder="Name of new group") }}
    <button type="submit">Add</button>
</form>

{% endblock %}
