<!--https://getbootstrap.com/examples/theme/#-->
<link href="static/css/theme.css" rel="stylesheet">

{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>Main Menu</h1>
    <div class="dropdown theme-dropdown clearfix">   
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            {% if current_user.is_anonymous %}
            <li class="active"><a href="/login">Log in</a></li>
            <li><a href="/signup">Sign up</a></li>
            {% else %}
            <li class="active"><a href="/mygroups">Manage Your Groups</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Log out</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<p>{{ users }}</p>
<ul>
    {% for user in users %}
    <li>{{ user.username }}</li>
    {% endfor %}
</ul>
{% endblock %}
